@use './variables.scss' as variables;

@mixin assign {
  --gitako-auto-black: #{variables.$auto-black};
  --gitako-auto-white: #{variables.$auto-white};
  --gitako-auto-gray-0: #{variables.$auto-gray-0};
  --gitako-auto-gray-1: #{variables.$auto-gray-1};
  --gitako-auto-gray-2: #{variables.$auto-gray-2};
  --gitako-auto-gray-3: #{variables.$auto-gray-3};
  --gitako-auto-gray-4: #{variables.$auto-gray-4};
  --gitako-auto-gray-5: #{variables.$auto-gray-5};
  --gitako-auto-gray-6: #{variables.$auto-gray-6};
  --gitako-auto-gray-7: #{variables.$auto-gray-7};
  --gitako-auto-gray-8: #{variables.$auto-gray-8};
  --gitako-auto-gray-9: #{variables.$auto-gray-9};
  --gitako-auto-blue-0: #{variables.$auto-blue-0};
  --gitako-auto-blue-1: #{variables.$auto-blue-1};
  --gitako-auto-blue-2: #{variables.$auto-blue-2};
  --gitako-auto-blue-3: #{variables.$auto-blue-3};
  --gitako-auto-blue-4: #{variables.$auto-blue-4};
  --gitako-auto-blue-5: #{variables.$auto-blue-5};
  --gitako-auto-blue-6: #{variables.$auto-blue-6};
  --gitako-auto-blue-7: #{variables.$auto-blue-7};
  --gitako-auto-blue-8: #{variables.$auto-blue-8};
  --gitako-auto-blue-9: #{variables.$auto-blue-9};
  --gitako-auto-green-0: #{variables.$auto-green-0};
  --gitako-auto-green-1: #{variables.$auto-green-1};
  --gitako-auto-green-2: #{variables.$auto-green-2};
  --gitako-auto-green-3: #{variables.$auto-green-3};
  --gitako-auto-green-4: #{variables.$auto-green-4};
  --gitako-auto-green-5: #{variables.$auto-green-5};
  --gitako-auto-green-6: #{variables.$auto-green-6};
  --gitako-auto-green-7: #{variables.$auto-green-7};
  --gitako-auto-green-8: #{variables.$auto-green-8};
  --gitako-auto-green-9: #{variables.$auto-green-9};
  --gitako-auto-yellow-0: #{variables.$auto-yellow-0};
  --gitako-auto-yellow-1: #{variables.$auto-yellow-1};
  --gitako-auto-yellow-2: #{variables.$auto-yellow-2};
  --gitako-auto-yellow-3: #{variables.$auto-yellow-3};
  --gitako-auto-yellow-4: #{variables.$auto-yellow-4};
  --gitako-auto-yellow-5: #{variables.$auto-yellow-5};
  --gitako-auto-yellow-6: #{variables.$auto-yellow-6};
  --gitako-auto-yellow-7: #{variables.$auto-yellow-7};
  --gitako-auto-yellow-8: #{variables.$auto-yellow-8};
  --gitako-auto-yellow-9: #{variables.$auto-yellow-9};
  --gitako-auto-orange-0: #{variables.$auto-orange-0};
  --gitako-auto-orange-1: #{variables.$auto-orange-1};
  --gitako-auto-orange-2: #{variables.$auto-orange-2};
  --gitako-auto-orange-3: #{variables.$auto-orange-3};
  --gitako-auto-orange-4: #{variables.$auto-orange-4};
  --gitako-auto-orange-5: #{variables.$auto-orange-5};
  --gitako-auto-orange-6: #{variables.$auto-orange-6};
  --gitako-auto-orange-7: #{variables.$auto-orange-7};
  --gitako-auto-orange-8: #{variables.$auto-orange-8};
  --gitako-auto-orange-9: #{variables.$auto-orange-9};
  --gitako-auto-red-0: #{variables.$auto-red-0};
  --gitako-auto-red-1: #{variables.$auto-red-1};
  --gitako-auto-red-2: #{variables.$auto-red-2};
  --gitako-auto-red-3: #{variables.$auto-red-3};
  --gitako-auto-red-4: #{variables.$auto-red-4};
  --gitako-auto-red-5: #{variables.$auto-red-5};
  --gitako-auto-red-6: #{variables.$auto-red-6};
  --gitako-auto-red-7: #{variables.$auto-red-7};
  --gitako-auto-red-8: #{variables.$auto-red-8};
  --gitako-auto-red-9: #{variables.$auto-red-9};
  --gitako-auto-purple-0: #{variables.$auto-purple-0};
  --gitako-auto-purple-1: #{variables.$auto-purple-1};
  --gitako-auto-purple-2: #{variables.$auto-purple-2};
  --gitako-auto-purple-3: #{variables.$auto-purple-3};
  --gitako-auto-purple-4: #{variables.$auto-purple-4};
  --gitako-auto-purple-5: #{variables.$auto-purple-5};
  --gitako-auto-purple-6: #{variables.$auto-purple-6};
  --gitako-auto-purple-7: #{variables.$auto-purple-7};
  --gitako-auto-purple-8: #{variables.$auto-purple-8};
  --gitako-auto-purple-9: #{variables.$auto-purple-9};
  --gitako-auto-pink-0: #{variables.$auto-pink-0};
  --gitako-auto-pink-1: #{variables.$auto-pink-1};
  --gitako-auto-pink-2: #{variables.$auto-pink-2};
  --gitako-auto-pink-3: #{variables.$auto-pink-3};
  --gitako-auto-pink-4: #{variables.$auto-pink-4};
  --gitako-auto-pink-5: #{variables.$auto-pink-5};
  --gitako-auto-pink-6: #{variables.$auto-pink-6};
  --gitako-auto-pink-7: #{variables.$auto-pink-7};
  --gitako-auto-pink-8: #{variables.$auto-pink-8};
  --gitako-auto-pink-9: #{variables.$auto-pink-9};
  --gitako-text-primary: #{variables.$text-primary};
  --gitako-text-secondary: #{variables.$text-secondary};
  --gitako-text-tertiary: #{variables.$text-tertiary};
  --gitako-text-placeholder: #{variables.$text-placeholder};
  --gitako-text-disabled: #{variables.$text-disabled};
  --gitako-text-inverse: #{variables.$text-inverse};
  --gitako-text-link: #{variables.$text-link};
  --gitako-text-danger: #{variables.$text-danger};
  --gitako-text-success: #{variables.$text-success};
  --gitako-text-warning: #{variables.$text-warning};
  --gitako-text-white: #{variables.$text-white};
  --gitako-icon-primary: #{variables.$icon-primary};
  --gitako-icon-secondary: #{variables.$icon-secondary};
  --gitako-icon-tertiary: #{variables.$icon-tertiary};
  --gitako-icon-info: #{variables.$icon-info};
  --gitako-icon-danger: #{variables.$icon-danger};
  --gitako-icon-success: #{variables.$icon-success};
  --gitako-icon-warning: #{variables.$icon-warning};
  --gitako-border-primary: #{variables.$border-primary};
  --gitako-border-secondary: #{variables.$border-secondary};
  --gitako-border-tertiary: #{variables.$border-tertiary};
  --gitako-border-overlay: #{variables.$border-overlay};
  --gitako-border-inverse: #{variables.$border-inverse};
  --gitako-border-info: #{variables.$border-info};
  --gitako-border-danger: #{variables.$border-danger};
  --gitako-border-success: #{variables.$border-success};
  --gitako-border-warning: #{variables.$border-warning};
  --gitako-bg-canvas: #{variables.$bg-canvas};
  --gitako-bg-canvas-mobile: #{variables.$bg-canvas-mobile};
  --gitako-bg-canvas-inverse: #{variables.$bg-canvas-inverse};
  --gitako-bg-canvas-inset: #{variables.$bg-canvas-inset};
  --gitako-bg-primary: #{variables.$bg-primary};
  --gitako-bg-secondary: #{variables.$bg-secondary};
  --gitako-bg-tertiary: #{variables.$bg-tertiary};
  --gitako-bg-overlay: #{variables.$bg-overlay};
  --gitako-bg-backdrop: #{variables.$bg-backdrop};
  --gitako-bg-info: #{variables.$bg-info};
  --gitako-bg-info-inverse: #{variables.$bg-info-inverse};
  --gitako-bg-danger: #{variables.$bg-danger};
  --gitako-bg-danger-inverse: #{variables.$bg-danger-inverse};
  --gitako-bg-success: #{variables.$bg-success};
  --gitako-bg-success-inverse: #{variables.$bg-success-inverse};
  --gitako-bg-warning: #{variables.$bg-warning};
  --gitako-bg-warning-inverse: #{variables.$bg-warning-inverse};
  --gitako-shadow-small: #{variables.$shadow-small};
  --gitako-shadow-medium: #{variables.$shadow-medium};
  --gitako-shadow-large: #{variables.$shadow-large};
  --gitako-shadow-extra-large: #{variables.$shadow-extra-large};
  --gitako-shadow-highlight: #{variables.$shadow-highlight};
  --gitako-shadow-inset: #{variables.$shadow-inset};
  --gitako-state-hover-primary-bg: #{variables.$state-hover-primary-bg};
  --gitako-state-hover-primary-border: #{variables.$state-hover-primary-border};
  --gitako-state-hover-primary-text: #{variables.$state-hover-primary-text};
  --gitako-state-hover-primary-icon: #{variables.$state-hover-primary-icon};
  --gitako-state-hover-secondary-bg: #{variables.$state-hover-secondary-bg};
  --gitako-state-hover-secondary-border: #{variables.$state-hover-secondary-border};
  --gitako-state-selected-primary-bg: #{variables.$state-selected-primary-bg};
  --gitako-state-selected-primary-border: #{variables.$state-selected-primary-border};
  --gitako-state-selected-primary-text: #{variables.$state-selected-primary-text};
  --gitako-state-selected-primary-icon: #{variables.$state-selected-primary-icon};
  --gitako-state-focus-border: #{variables.$state-focus-border};
  --gitako-state-focus-shadow: #{variables.$state-focus-shadow};
  --gitako-fade-fg-10: #{variables.$fade-fg-10};
  --gitako-fade-fg-15: #{variables.$fade-fg-15};
  --gitako-fade-fg-30: #{variables.$fade-fg-30};
  --gitako-fade-fg-50: #{variables.$fade-fg-50};
  --gitako-fade-fg-70: #{variables.$fade-fg-70};
  --gitako-fade-fg-85: #{variables.$fade-fg-85};
  --gitako-fade-black-10: #{variables.$fade-black-10};
  --gitako-fade-black-15: #{variables.$fade-black-15};
  --gitako-fade-black-30: #{variables.$fade-black-30};
  --gitako-fade-black-50: #{variables.$fade-black-50};
  --gitako-fade-black-70: #{variables.$fade-black-70};
  --gitako-fade-black-85: #{variables.$fade-black-85};
  --gitako-fade-white-10: #{variables.$fade-white-10};
  --gitako-fade-white-15: #{variables.$fade-white-15};
  --gitako-fade-white-30: #{variables.$fade-white-30};
  --gitako-fade-white-50: #{variables.$fade-white-50};
  --gitako-fade-white-70: #{variables.$fade-white-70};
  --gitako-fade-white-85: #{variables.$fade-white-85};
  --gitako-alert-info-text: #{variables.$alert-info-text};
  --gitako-alert-info-icon: #{variables.$alert-info-icon};
  --gitako-alert-info-bg: #{variables.$alert-info-bg};
  --gitako-alert-info-border: #{variables.$alert-info-border};
  --gitako-alert-warn-text: #{variables.$alert-warn-text};
  --gitako-alert-warn-icon: #{variables.$alert-warn-icon};
  --gitako-alert-warn-bg: #{variables.$alert-warn-bg};
  --gitako-alert-warn-border: #{variables.$alert-warn-border};
  --gitako-alert-error-text: #{variables.$alert-error-text};
  --gitako-alert-error-icon: #{variables.$alert-error-icon};
  --gitako-alert-error-bg: #{variables.$alert-error-bg};
  --gitako-alert-error-border: #{variables.$alert-error-border};
  --gitako-alert-success-text: #{variables.$alert-success-text};
  --gitako-alert-success-icon: #{variables.$alert-success-icon};
  --gitako-alert-success-bg: #{variables.$alert-success-bg};
  --gitako-alert-success-border: #{variables.$alert-success-border};
  --gitako-autocomplete-shadow: #{variables.$autocomplete-shadow};
  --gitako-autocomplete-row-border: #{variables.$autocomplete-row-border};
  --gitako-blankslate-icon: #{variables.$blankslate-icon};
  --gitako-btn-text: #{variables.$btn-text};
  --gitako-btn-bg: #{variables.$btn-bg};
  --gitako-btn-border: #{variables.$btn-border};
  --gitako-btn-shadow: #{variables.$btn-shadow};
  --gitako-btn-inset-shadow: #{variables.$btn-inset-shadow};
  --gitako-btn-hover-bg: #{variables.$btn-hover-bg};
  --gitako-btn-hover-border: #{variables.$btn-hover-border};
  --gitako-btn-selected-bg: #{variables.$btn-selected-bg};
  --gitako-btn-focus-bg: #{variables.$btn-focus-bg};
  --gitako-btn-focus-border: #{variables.$btn-focus-border};
  --gitako-btn-focus-shadow: #{variables.$btn-focus-shadow};
  --gitako-btn-shadow-active: #{variables.$btn-shadow-active};
  --gitako-btn-shadow-input-focus: #{variables.$btn-shadow-input-focus};
  --gitako-btn-primary-text: #{variables.$btn-primary-text};
  --gitako-btn-primary-bg: #{variables.$btn-primary-bg};
  --gitako-btn-primary-border: #{variables.$btn-primary-border};
  --gitako-btn-primary-shadow: #{variables.$btn-primary-shadow};
  --gitako-btn-primary-inset-shadow: #{variables.$btn-primary-inset-shadow};
  --gitako-btn-primary-hover-bg: #{variables.$btn-primary-hover-bg};
  --gitako-btn-primary-hover-border: #{variables.$btn-primary-hover-border};
  --gitako-btn-primary-selected-bg: #{variables.$btn-primary-selected-bg};
  --gitako-btn-primary-selected-shadow: #{variables.$btn-primary-selected-shadow};
  --gitako-btn-primary-disabled-text: #{variables.$btn-primary-disabled-text};
  --gitako-btn-primary-disabled-bg: #{variables.$btn-primary-disabled-bg};
  --gitako-btn-primary-disabled-border: #{variables.$btn-primary-disabled-border};
  --gitako-btn-primary-focus-bg: #{variables.$btn-primary-focus-bg};
  --gitako-btn-primary-focus-border: #{variables.$btn-primary-focus-border};
  --gitako-btn-primary-focus-shadow: #{variables.$btn-primary-focus-shadow};
  --gitako-btn-primary-icon: #{variables.$btn-primary-icon};
  --gitako-btn-primary-counter-bg: #{variables.$btn-primary-counter-bg};
  --gitako-btn-outline-text: #{variables.$btn-outline-text};
  --gitako-btn-outline-hover-text: #{variables.$btn-outline-hover-text};
  --gitako-btn-outline-hover-bg: #{variables.$btn-outline-hover-bg};
  --gitako-btn-outline-hover-border: #{variables.$btn-outline-hover-border};
  --gitako-btn-outline-hover-shadow: #{variables.$btn-outline-hover-shadow};
  --gitako-btn-outline-hover-inset-shadow: #{variables.$btn-outline-hover-inset-shadow};
  --gitako-btn-outline-hover-counter-bg: #{variables.$btn-outline-hover-counter-bg};
  --gitako-btn-outline-selected-text: #{variables.$btn-outline-selected-text};
  --gitako-btn-outline-selected-bg: #{variables.$btn-outline-selected-bg};
  --gitako-btn-outline-selected-border: #{variables.$btn-outline-selected-border};
  --gitako-btn-outline-selected-shadow: #{variables.$btn-outline-selected-shadow};
  --gitako-btn-outline-disabled-text: #{variables.$btn-outline-disabled-text};
  --gitako-btn-outline-disabled-bg: #{variables.$btn-outline-disabled-bg};
  --gitako-btn-outline-disabled-counter-bg: #{variables.$btn-outline-disabled-counter-bg};
  --gitako-btn-outline-focus-border: #{variables.$btn-outline-focus-border};
  --gitako-btn-outline-focus-shadow: #{variables.$btn-outline-focus-shadow};
  --gitako-btn-outline-counter-bg: #{variables.$btn-outline-counter-bg};
  --gitako-btn-danger-text: #{variables.$btn-danger-text};
  --gitako-btn-danger-hover-text: #{variables.$btn-danger-hover-text};
  --gitako-btn-danger-hover-bg: #{variables.$btn-danger-hover-bg};
  --gitako-btn-danger-hover-border: #{variables.$btn-danger-hover-border};
  --gitako-btn-danger-hover-shadow: #{variables.$btn-danger-hover-shadow};
  --gitako-btn-danger-hover-inset-shadow: #{variables.$btn-danger-hover-inset-shadow};
  --gitako-btn-danger-hover-counter-bg: #{variables.$btn-danger-hover-counter-bg};
  --gitako-btn-danger-selected-text: #{variables.$btn-danger-selected-text};
  --gitako-btn-danger-selected-bg: #{variables.$btn-danger-selected-bg};
  --gitako-btn-danger-selected-border: #{variables.$btn-danger-selected-border};
  --gitako-btn-danger-selected-shadow: #{variables.$btn-danger-selected-shadow};
  --gitako-btn-danger-disabled-text: #{variables.$btn-danger-disabled-text};
  --gitako-btn-danger-disabled-bg: #{variables.$btn-danger-disabled-bg};
  --gitako-btn-danger-disabled-counter-bg: #{variables.$btn-danger-disabled-counter-bg};
  --gitako-btn-danger-focus-border: #{variables.$btn-danger-focus-border};
  --gitako-btn-danger-focus-shadow: #{variables.$btn-danger-focus-shadow};
  --gitako-btn-danger-counter-bg: #{variables.$btn-danger-counter-bg};
  --gitako-btn-counter-bg: #{variables.$btn-counter-bg};
  --gitako-counter-text: #{variables.$counter-text};
  --gitako-counter-bg: #{variables.$counter-bg};
  --gitako-counter-primary-text: #{variables.$counter-primary-text};
  --gitako-counter-primary-bg: #{variables.$counter-primary-bg};
  --gitako-counter-secondary-text: #{variables.$counter-secondary-text};
  --gitako-dropdown-shadow: #{variables.$dropdown-shadow};
  --gitako-label-border: #{variables.$label-border};
  --gitako-label-primary-text: #{variables.$label-primary-text};
  --gitako-label-primary-border: #{variables.$label-primary-border};
  --gitako-label-secondary-text: #{variables.$label-secondary-text};
  --gitako-label-secondary-border: #{variables.$label-secondary-border};
  --gitako-label-info-text: #{variables.$label-info-text};
  --gitako-label-info-border: #{variables.$label-info-border};
  --gitako-label-success-text: #{variables.$label-success-text};
  --gitako-label-success-border: #{variables.$label-success-border};
  --gitako-label-warning-text: #{variables.$label-warning-text};
  --gitako-label-warning-border: #{variables.$label-warning-border};
  --gitako-label-danger-text: #{variables.$label-danger-text};
  --gitako-label-danger-border: #{variables.$label-danger-border};
  --gitako-label-orange-text: #{variables.$label-orange-text};
  --gitako-label-orange-border: #{variables.$label-orange-border};
  --gitako-input-bg: #{variables.$input-bg};
  --gitako-input-contrast-bg: #{variables.$input-contrast-bg};
  --gitako-input-border: #{variables.$input-border};
  --gitako-input-shadow: #{variables.$input-shadow};
  --gitako-input-disabled-bg: #{variables.$input-disabled-bg};
  --gitako-input-disabled-border: #{variables.$input-disabled-border};
  --gitako-input-warning-border: #{variables.$input-warning-border};
  --gitako-input-error-border: #{variables.$input-error-border};
  --gitako-input-tooltip-success-text: #{variables.$input-tooltip-success-text};
  --gitako-input-tooltip-success-bg: #{variables.$input-tooltip-success-bg};
  --gitako-input-tooltip-success-border: #{variables.$input-tooltip-success-border};
  --gitako-input-tooltip-warning-text: #{variables.$input-tooltip-warning-text};
  --gitako-input-tooltip-warning-bg: #{variables.$input-tooltip-warning-bg};
  --gitako-input-tooltip-warning-border: #{variables.$input-tooltip-warning-border};
  --gitako-input-tooltip-error-text: #{variables.$input-tooltip-error-text};
  --gitako-input-tooltip-error-bg: #{variables.$input-tooltip-error-bg};
  --gitako-input-tooltip-error-border: #{variables.$input-tooltip-error-border};
  --gitako-avatar-bg: #{variables.$avatar-bg};
  --gitako-avatar-border: #{variables.$avatar-border};
  --gitako-avatar-stack-fade: #{variables.$avatar-stack-fade};
  --gitako-avatar-stack-fade-more: #{variables.$avatar-stack-fade-more};
  --gitako-avatar-child-shadow: #{variables.$avatar-child-shadow};
  --gitako-toast-text: #{variables.$toast-text};
  --gitako-toast-bg: #{variables.$toast-bg};
  --gitako-toast-border: #{variables.$toast-border};
  --gitako-toast-shadow: #{variables.$toast-shadow};
  --gitako-toast-icon: #{variables.$toast-icon};
  --gitako-toast-icon-bg: #{variables.$toast-icon-bg};
  --gitako-toast-icon-border: #{variables.$toast-icon-border};
  --gitako-toast-success-text: #{variables.$toast-success-text};
  --gitako-toast-success-border: #{variables.$toast-success-border};
  --gitako-toast-success-icon: #{variables.$toast-success-icon};
  --gitako-toast-success-icon-bg: #{variables.$toast-success-icon-bg};
  --gitako-toast-success-icon-border: #{variables.$toast-success-icon-border};
  --gitako-toast-warning-text: #{variables.$toast-warning-text};
  --gitako-toast-warning-border: #{variables.$toast-warning-border};
  --gitako-toast-warning-icon: #{variables.$toast-warning-icon};
  --gitako-toast-warning-icon-bg: #{variables.$toast-warning-icon-bg};
  --gitako-toast-warning-icon-border: #{variables.$toast-warning-icon-border};
  --gitako-toast-danger-text: #{variables.$toast-danger-text};
  --gitako-toast-danger-border: #{variables.$toast-danger-border};
  --gitako-toast-danger-icon: #{variables.$toast-danger-icon};
  --gitako-toast-danger-icon-bg: #{variables.$toast-danger-icon-bg};
  --gitako-toast-danger-icon-border: #{variables.$toast-danger-icon-border};
  --gitako-toast-loading-text: #{variables.$toast-loading-text};
  --gitako-toast-loading-border: #{variables.$toast-loading-border};
  --gitako-toast-loading-icon: #{variables.$toast-loading-icon};
  --gitako-toast-loading-icon-bg: #{variables.$toast-loading-icon-bg};
  --gitako-toast-loading-icon-border: #{variables.$toast-loading-icon-border};
  --gitako-timeline-text: #{variables.$timeline-text};
  --gitako-timeline-badge-bg: #{variables.$timeline-badge-bg};
  --gitako-timeline-target-badge-border: #{variables.$timeline-target-badge-border};
  --gitako-timeline-target-badge-shadow: #{variables.$timeline-target-badge-shadow};
  --gitako-select-menu-border-secondary: #{variables.$select-menu-border-secondary};
  --gitako-select-menu-shadow: #{variables.$select-menu-shadow};
  --gitako-select-menu-backdrop-bg: #{variables.$select-menu-backdrop-bg};
  --gitako-select-menu-backdrop-border: #{variables.$select-menu-backdrop-border};
  --gitako-select-menu-tap-highlight: #{variables.$select-menu-tap-highlight};
  --gitako-select-menu-tap-focus-bg: #{variables.$select-menu-tap-focus-bg};
  --gitako-box-blue-border: #{variables.$box-blue-border};
  --gitako-box-row-yellow-bg: #{variables.$box-row-yellow-bg};
  --gitako-box-row-blue-bg: #{variables.$box-row-blue-bg};
  --gitako-box-header-blue-bg: #{variables.$box-header-blue-bg};
  --gitako-box-header-blue-border: #{variables.$box-header-blue-border};
  --gitako-box-border-info: #{variables.$box-border-info};
  --gitako-box-bg-info: #{variables.$box-bg-info};
  --gitako-box-border-warning: #{variables.$box-border-warning};
  --gitako-box-bg-warning: #{variables.$box-bg-warning};
  --gitako-branch-name-text: #{variables.$branch-name-text};
  --gitako-branch-name-icon: #{variables.$branch-name-icon};
  --gitako-branch-name-bg: #{variables.$branch-name-bg};
  --gitako-branch-name-link-text: #{variables.$branch-name-link-text};
  --gitako-branch-name-link-icon: #{variables.$branch-name-link-icon};
  --gitako-branch-name-link-bg: #{variables.$branch-name-link-bg};
  --gitako-markdown-code-bg: #{variables.$markdown-code-bg};
  --gitako-markdown-frame-border: #{variables.$markdown-frame-border};
  --gitako-markdown-blockquote-border: #{variables.$markdown-blockquote-border};
  --gitako-markdown-table-border: #{variables.$markdown-table-border};
  --gitako-markdown-table-tr-border: #{variables.$markdown-table-tr-border};
  --gitako-menu-heading-text: #{variables.$menu-heading-text};
  --gitako-menu-border-active: #{variables.$menu-border-active};
  --gitako-menu-bg-active: #{variables.$menu-bg-active};
  --gitako-sidenav-selected-bg: #{variables.$sidenav-selected-bg};
  --gitako-sidenav-border-active: #{variables.$sidenav-border-active};
  --gitako-header-text: #{variables.$header-text};
  --gitako-header-bg: #{variables.$header-bg};
  --gitako-header-logo: #{variables.$header-logo};
  --gitako-filter-item-bar-bg: #{variables.$filter-item-bar-bg};
  --gitako-hidden-text-expander-bg: #{variables.$hidden-text-expander-bg};
  --gitako-hidden-text-expander-bg-hover: #{variables.$hidden-text-expander-bg-hover};
  --gitako-drag-and-drop-border: #{variables.$drag-and-drop-border};
  --gitako-upload-enabled-border: #{variables.$upload-enabled-border};
  --gitako-upload-enabled-border-focused: #{variables.$upload-enabled-border-focused};
  --gitako-previewable-comment-form-border: #{variables.$previewable-comment-form-border};
  --gitako-underlinenav-border: #{variables.$underlinenav-border};
  --gitako-underlinenav-border-hover: #{variables.$underlinenav-border-hover};
  --gitako-underlinenav-border-active: #{variables.$underlinenav-border-active};
  --gitako-underlinenav-text: #{variables.$underlinenav-text};
  --gitako-underlinenav-text-hover: #{variables.$underlinenav-text-hover};
  --gitako-underlinenav-text-active: #{variables.$underlinenav-text-active};
  --gitako-underlinenav-icon: #{variables.$underlinenav-icon};
  --gitako-underlinenav-icon-hover: #{variables.$underlinenav-icon-hover};
  --gitako-underlinenav-icon-active: #{variables.$underlinenav-icon-active};
  --gitako-underlinenav-counter-text: #{variables.$underlinenav-counter-text};
  --gitako-verified-badge-text: #{variables.$verified-badge-text};
  --gitako-verified-badge-bg: #{variables.$verified-badge-bg};
  --gitako-verified-badge-border: #{variables.$verified-badge-border};
  --gitako-social-count-bg: #{variables.$social-count-bg};
  --gitako-tooltip-text: #{variables.$tooltip-text};
  --gitako-tooltip-bg: #{variables.$tooltip-bg};
  --gitako-header-search-bg: #{variables.$header-search-bg};
  --gitako-header-search-border: #{variables.$header-search-border};
  --gitako-search-keyword-hl: #{variables.$search-keyword-hl};
  --gitako-diffstat-neutral-bg: #{variables.$diffstat-neutral-bg};
  --gitako-diffstat-neutral-border: #{variables.$diffstat-neutral-border};
  --gitako-diffstat-deletion-bg: #{variables.$diffstat-deletion-bg};
  --gitako-diffstat-deletion-border: #{variables.$diffstat-deletion-border};
  --gitako-diffstat-addition-bg: #{variables.$diffstat-addition-bg};
  --gitako-diffstat-addition-border: #{variables.$diffstat-addition-border};
  --gitako-files-explorer-icon: #{variables.$files-explorer-icon};
  --gitako-hl-author-bg: #{variables.$hl-author-bg};
  --gitako-hl-author-border: #{variables.$hl-author-border};
  --gitako-logo-subdued: #{variables.$logo-subdued};
  --gitako-discussion-border: #{variables.$discussion-border};
  --gitako-discussion-bg-success: #{variables.$discussion-bg-success};
  --gitako-actions-workflow-table-sticky-bg: #{variables.$actions-workflow-table-sticky-bg};
  --gitako-repo-language-color-border: #{variables.$repo-language-color-border};
  --gitako-code-selection-bg: #{variables.$code-selection-bg};
  --gitako-blob-line-highlight-bg: #{variables.$blob-line-highlight-bg};
  --gitako-blob-line-highlight-border: #{variables.$blob-line-highlight-border};
  --gitako-diff-addition-text: #{variables.$diff-addition-text};
  --gitako-diff-addition-bg: #{variables.$diff-addition-bg};
  --gitako-diff-addition-border: #{variables.$diff-addition-border};
  --gitako-diff-deletion-text: #{variables.$diff-deletion-text};
  --gitako-diff-deletion-bg: #{variables.$diff-deletion-bg};
  --gitako-diff-deletion-border: #{variables.$diff-deletion-border};
  --gitako-diff-change-text: #{variables.$diff-change-text};
  --gitako-diff-change-bg: #{variables.$diff-change-bg};
  --gitako-diff-change-border: #{variables.$diff-change-border};
  --gitako-diff-blob-num-text: #{variables.$diff-blob-num-text};
  --gitako-diff-blob-num-hover-text: #{variables.$diff-blob-num-hover-text};
  --gitako-diff-blob-addition-num-text: #{variables.$diff-blob-addition-num-text};
  --gitako-diff-blob-addition-num-hover-text: #{variables.$diff-blob-addition-num-hover-text};
  --gitako-diff-blob-addition-num-bg: #{variables.$diff-blob-addition-num-bg};
  --gitako-diff-blob-addition-line-bg: #{variables.$diff-blob-addition-line-bg};
  --gitako-diff-blob-addition-word-bg: #{variables.$diff-blob-addition-word-bg};
  --gitako-diff-blob-deletion-num-text: #{variables.$diff-blob-deletion-num-text};
  --gitako-diff-blob-deletion-num-hover-text: #{variables.$diff-blob-deletion-num-hover-text};
  --gitako-diff-blob-deletion-num-bg: #{variables.$diff-blob-deletion-num-bg};
  --gitako-diff-blob-deletion-line-bg: #{variables.$diff-blob-deletion-line-bg};
  --gitako-diff-blob-deletion-word-bg: #{variables.$diff-blob-deletion-word-bg};
  --gitako-diff-blob-hunk-text: #{variables.$diff-blob-hunk-text};
  --gitako-diff-blob-hunk-num-bg: #{variables.$diff-blob-hunk-num-bg};
  --gitako-diff-blob-hunk-line-bg: #{variables.$diff-blob-hunk-line-bg};
  --gitako-diff-blob-empty-block-bg: #{variables.$diff-blob-empty-block-bg};
  --gitako-diff-blob-selected-line-highlight-bg: #{variables.$diff-blob-selected-line-highlight-bg};
  --gitako-diff-blob-selected-line-highlight-border: #{variables.$diff-blob-selected-line-highlight-border};
  --gitako-diff-blob-selected-line-highlight-mix-blend-mode: #{variables.$diff-blob-selected-line-highlight-mix-blend-mode};
  --gitako-diff-blob-expander-icon: #{variables.$diff-blob-expander-icon};
  --gitako-diff-blob-expander-hover-icon: #{variables.$diff-blob-expander-hover-icon};
  --gitako-diff-blob-expander-hover-bg: #{variables.$diff-blob-expander-hover-bg};
  --gitako-diff-blob-comment-button-icon: #{variables.$diff-blob-comment-button-icon};
  --gitako-diff-blob-comment-button-bg: #{variables.$diff-blob-comment-button-bg};
  --gitako-diff-blob-comment-button-gradient-bg: #{variables.$diff-blob-comment-button-gradient-bg};
  --gitako-global-nav-logo: #{variables.$global-nav-logo};
  --gitako-global-nav-bg: #{variables.$global-nav-bg};
  --gitako-global-nav-text: #{variables.$global-nav-text};
  --gitako-global-nav-icon: #{variables.$global-nav-icon};
  --gitako-global-nav-input-bg: #{variables.$global-nav-input-bg};
  --gitako-global-nav-input-border: #{variables.$global-nav-input-border};
  --gitako-global-nav-input-icon: #{variables.$global-nav-input-icon};
  --gitako-global-nav-input-placeholder: #{variables.$global-nav-input-placeholder};
  --gitako-calendar-graph-day-bg: #{variables.$calendar-graph-day-bg};
  --gitako-calendar-graph-day-border: #{variables.$calendar-graph-day-border};
  --gitako-calendar-graph-day-l1-bg: #{variables.$calendar-graph-day-l1-bg};
  --gitako-calendar-graph-day-l2-bg: #{variables.$calendar-graph-day-l2-bg};
  --gitako-calendar-graph-day-l3-bg: #{variables.$calendar-graph-day-l3-bg};
  --gitako-calendar-graph-day-l4-bg: #{variables.$calendar-graph-day-l4-bg};
  --gitako-calendar-graph-day-l4-border: #{variables.$calendar-graph-day-l4-border};
  --gitako-calendar-graph-day-l3-border: #{variables.$calendar-graph-day-l3-border};
  --gitako-calendar-graph-day-l2-border: #{variables.$calendar-graph-day-l2-border};
  --gitako-calendar-graph-day-l1-border: #{variables.$calendar-graph-day-l1-border};
  --gitako-footer-invertocat-octicon: #{variables.$footer-invertocat-octicon};
  --gitako-footer-invertocat-octicon-hover: #{variables.$footer-invertocat-octicon-hover};
  --gitako-pr-state-draft-text: #{variables.$pr-state-draft-text};
  --gitako-pr-state-draft-bg: #{variables.$pr-state-draft-bg};
  --gitako-pr-state-draft-border: #{variables.$pr-state-draft-border};
  --gitako-pr-state-open-text: #{variables.$pr-state-open-text};
  --gitako-pr-state-open-bg: #{variables.$pr-state-open-bg};
  --gitako-pr-state-open-border: #{variables.$pr-state-open-border};
  --gitako-pr-state-merged-text: #{variables.$pr-state-merged-text};
  --gitako-pr-state-merged-bg: #{variables.$pr-state-merged-bg};
  --gitako-pr-state-merged-border: #{variables.$pr-state-merged-border};
  --gitako-pr-state-closed-text: #{variables.$pr-state-closed-text};
  --gitako-pr-state-closed-bg: #{variables.$pr-state-closed-bg};
  --gitako-pr-state-closed-border: #{variables.$pr-state-closed-border};
  --gitako-topic-tag-text: #{variables.$topic-tag-text};
  --gitako-topic-tag-bg: #{variables.$topic-tag-bg};
  --gitako-topic-tag-hover-bg: #{variables.$topic-tag-hover-bg};
  --gitako-topic-tag-active-bg: #{variables.$topic-tag-active-bg};
  --gitako-merge-box-success-icon-bg: #{variables.$merge-box-success-icon-bg};
  --gitako-merge-box-success-icon-text: #{variables.$merge-box-success-icon-text};
  --gitako-merge-box-success-icon-border: #{variables.$merge-box-success-icon-border};
  --gitako-merge-box-success-indicator-bg: #{variables.$merge-box-success-indicator-bg};
  --gitako-merge-box-success-indicator-border: #{variables.$merge-box-success-indicator-border};
  --gitako-merge-box-merged-icon-bg: #{variables.$merge-box-merged-icon-bg};
  --gitako-merge-box-merged-icon-text: #{variables.$merge-box-merged-icon-text};
  --gitako-merge-box-merged-icon-border: #{variables.$merge-box-merged-icon-border};
  --gitako-merge-box-merged-box-border: #{variables.$merge-box-merged-box-border};
  --gitako-merge-box-neutral-icon-bg: #{variables.$merge-box-neutral-icon-bg};
  --gitako-merge-box-neutral-icon-text: #{variables.$merge-box-neutral-icon-text};
  --gitako-merge-box-neutral-icon-border: #{variables.$merge-box-neutral-icon-border};
  --gitako-merge-box-neutral-indicator-bg: #{variables.$merge-box-neutral-indicator-bg};
  --gitako-merge-box-neutral-indicator-border: #{variables.$merge-box-neutral-indicator-border};
  --gitako-merge-box-warning-icon-bg: #{variables.$merge-box-warning-icon-bg};
  --gitako-merge-box-warning-icon-text: #{variables.$merge-box-warning-icon-text};
  --gitako-merge-box-warning-icon-border: #{variables.$merge-box-warning-icon-border};
  --gitako-merge-box-warning-box-border: #{variables.$merge-box-warning-box-border};
  --gitako-merge-box-warning-merge-highlight: #{variables.$merge-box-warning-merge-highlight};
  --gitako-merge-box-error-icon-bg: #{variables.$merge-box-error-icon-bg};
  --gitako-merge-box-error-icon-text: #{variables.$merge-box-error-icon-text};
  --gitako-merge-box-error-icon-border: #{variables.$merge-box-error-icon-border};
  --gitako-merge-box-error-indicator-bg: #{variables.$merge-box-error-indicator-bg};
  --gitako-merge-box-error-indicator-border: #{variables.$merge-box-error-indicator-border};
  --gitako-project-card-bg: #{variables.$project-card-bg};
  --gitako-project-header-bg: #{variables.$project-header-bg};
  --gitako-project-sidebar-bg: #{variables.$project-sidebar-bg};
  --gitako-project-gradient-in: #{variables.$project-gradient-in};
  --gitako-project-gradient-out: #{variables.$project-gradient-out};
  --gitako-marketing-icon-primary: #{variables.$marketing-icon-primary};
  --gitako-marketing-icon-secondary: #{variables.$marketing-icon-secondary};
  --gitako-prettylights-syntax-comment: #{variables.$prettylights-syntax-comment};
  --gitako-prettylights-syntax-constant: #{variables.$prettylights-syntax-constant};
  --gitako-prettylights-syntax-entity: #{variables.$prettylights-syntax-entity};
  --gitako-prettylights-syntax-storage-modifier-import: #{variables.$prettylights-syntax-storage-modifier-import};
  --gitako-prettylights-syntax-entity-tag: #{variables.$prettylights-syntax-entity-tag};
  --gitako-prettylights-syntax-keyword: #{variables.$prettylights-syntax-keyword};
  --gitako-prettylights-syntax-string: #{variables.$prettylights-syntax-string};
  --gitako-prettylights-syntax-variable: #{variables.$prettylights-syntax-variable};
  --gitako-prettylights-syntax-brackethighlighter-unmatched: #{variables.$prettylights-syntax-brackethighlighter-unmatched};
  --gitako-prettylights-syntax-invalid-illegal-text: #{variables.$prettylights-syntax-invalid-illegal-text};
  --gitako-prettylights-syntax-invalid-illegal-bg: #{variables.$prettylights-syntax-invalid-illegal-bg};
  --gitako-prettylights-syntax-carriage-return-text: #{variables.$prettylights-syntax-carriage-return-text};
  --gitako-prettylights-syntax-carriage-return-bg: #{variables.$prettylights-syntax-carriage-return-bg};
  --gitako-prettylights-syntax-string-regexp: #{variables.$prettylights-syntax-string-regexp};
  --gitako-prettylights-syntax-markup-list: #{variables.$prettylights-syntax-markup-list};
  --gitako-prettylights-syntax-markup-heading: #{variables.$prettylights-syntax-markup-heading};
  --gitako-prettylights-syntax-markup-italic: #{variables.$prettylights-syntax-markup-italic};
  --gitako-prettylights-syntax-markup-bold: #{variables.$prettylights-syntax-markup-bold};
  --gitako-prettylights-syntax-markup-deleted-text: #{variables.$prettylights-syntax-markup-deleted-text};
  --gitako-prettylights-syntax-markup-deleted-bg: #{variables.$prettylights-syntax-markup-deleted-bg};
  --gitako-prettylights-syntax-markup-inserted-text: #{variables.$prettylights-syntax-markup-inserted-text};
  --gitako-prettylights-syntax-markup-inserted-bg: #{variables.$prettylights-syntax-markup-inserted-bg};
  --gitako-prettylights-syntax-markup-changed-text: #{variables.$prettylights-syntax-markup-changed-text};
  --gitako-prettylights-syntax-markup-changed-bg: #{variables.$prettylights-syntax-markup-changed-bg};
  --gitako-prettylights-syntax-markup-ignored-text: #{variables.$prettylights-syntax-markup-ignored-text};
  --gitako-prettylights-syntax-markup-ignored-bg: #{variables.$prettylights-syntax-markup-ignored-bg};
  --gitako-prettylights-syntax-meta-diff-range: #{variables.$prettylights-syntax-meta-diff-range};
  --gitako-prettylights-syntax-brackethighlighter-angle: #{variables.$prettylights-syntax-brackethighlighter-angle};
  --gitako-prettylights-syntax-sublimelinter-gutter-mark: #{variables.$prettylights-syntax-sublimelinter-gutter-mark};
  --gitako-prettylights-syntax-constant-other-reference-link: #{variables.$prettylights-syntax-constant-other-reference-link};
  --gitako-codemirror-text: #{variables.$codemirror-text};
  --gitako-codemirror-bg: #{variables.$codemirror-bg};
  --gitako-codemirror-gutters-bg: #{variables.$codemirror-gutters-bg};
  --gitako-codemirror-guttermarker-text: #{variables.$codemirror-guttermarker-text};
  --gitako-codemirror-guttermarker-subtle-text: #{variables.$codemirror-guttermarker-subtle-text};
  --gitako-codemirror-linenumber-text: #{variables.$codemirror-linenumber-text};
  --gitako-codemirror-cursor: #{variables.$codemirror-cursor};
  --gitako-codemirror-selection-bg: #{variables.$codemirror-selection-bg};
  --gitako-codemirror-activeline-bg: #{variables.$codemirror-activeline-bg};
  --gitako-codemirror-matchingbracket-text: #{variables.$codemirror-matchingbracket-text};
  --gitako-codemirror-lines-bg: #{variables.$codemirror-lines-bg};
  --gitako-codemirror-syntax-comment: #{variables.$codemirror-syntax-comment};
  --gitako-codemirror-syntax-constant: #{variables.$codemirror-syntax-constant};
  --gitako-codemirror-syntax-entity: #{variables.$codemirror-syntax-entity};
  --gitako-codemirror-syntax-keyword: #{variables.$codemirror-syntax-keyword};
  --gitako-codemirror-syntax-storage: #{variables.$codemirror-syntax-storage};
  --gitako-codemirror-syntax-string: #{variables.$codemirror-syntax-string};
  --gitako-codemirror-syntax-support: #{variables.$codemirror-syntax-support};
  --gitako-codemirror-syntax-variable: #{variables.$codemirror-syntax-variable};
  --gitako-ansi-black: #{variables.$ansi-black};
  --gitako-ansi-black-bright: #{variables.$ansi-black-bright};
  --gitako-ansi-white: #{variables.$ansi-white};
  --gitako-ansi-white-bright: #{variables.$ansi-white-bright};
  --gitako-ansi-gray: #{variables.$ansi-gray};
  --gitako-ansi-red: #{variables.$ansi-red};
  --gitako-ansi-red-bright: #{variables.$ansi-red-bright};
  --gitako-ansi-green: #{variables.$ansi-green};
  --gitako-ansi-green-bright: #{variables.$ansi-green-bright};
  --gitako-ansi-yellow: #{variables.$ansi-yellow};
  --gitako-ansi-yellow-bright: #{variables.$ansi-yellow-bright};
  --gitako-ansi-blue: #{variables.$ansi-blue};
  --gitako-ansi-blue-bright: #{variables.$ansi-blue-bright};
  --gitako-ansi-magenta: #{variables.$ansi-magenta};
  --gitako-ansi-magenta-bright: #{variables.$ansi-magenta-bright};
  --gitako-ansi-cyan: #{variables.$ansi-cyan};
  --gitako-ansi-cyan-bright: #{variables.$ansi-cyan-bright};
}

// How to merge the selectors?
// Is it possible to not have two copy of dark theme variables?
@media (prefers-color-scheme: dark) {
  :root[data-color-mode='auto'] {
    @include assign();
  }
}
:root[data-color-mode='dark'] {
  @include assign();
}
