$auto-black: #f0f6fc;
$auto-white: #010409;
$auto-gray-0: #0d1117;
$auto-gray-1: #161b22;
$auto-gray-2: #21262d;
$auto-gray-3: #30363d;
$auto-gray-4: #484f58;
$auto-gray-5: #6e7681;
$auto-gray-6: #8b949e;
$auto-gray-7: #b1bac4;
$auto-gray-8: #c9d1d9;
$auto-gray-9: #f0f6fc;
$auto-blue-0: #051d4d;
$auto-blue-1: #0c2d6b;
$auto-blue-2: #0d419d;
$auto-blue-3: #1158c7;
$auto-blue-4: #1f6feb;
$auto-blue-5: #388bfd;
$auto-blue-6: #58a6ff;
$auto-blue-7: #79c0ff;
$auto-blue-8: #a5d6ff;
$auto-blue-9: #cae8ff;
$auto-green-0: #04260f;
$auto-green-1: #033a16;
$auto-green-2: #0f5323;
$auto-green-3: #196c2e;
$auto-green-4: #238636;
$auto-green-5: #2ea043;
$auto-green-6: #3fb950;
$auto-green-7: #56d364;
$auto-green-8: #7ee787;
$auto-green-9: #aff5b4;
$auto-yellow-0: #341a00;
$auto-yellow-1: #4b2900;
$auto-yellow-2: #693e00;
$auto-yellow-3: #845306;
$auto-yellow-4: #9e6a03;
$auto-yellow-5: #bb8009;
$auto-yellow-6: #d29922;
$auto-yellow-7: #e3b341;
$auto-yellow-8: #f2cc60;
$auto-yellow-9: #f8e3a1;
$auto-orange-0: #3d1300;
$auto-orange-1: #5a1e02;
$auto-orange-2: #762d0a;
$auto-orange-3: #9b4215;
$auto-orange-4: #bd561d;
$auto-orange-5: #db6d28;
$auto-orange-6: #f0883e;
$auto-orange-7: #ffa657;
$auto-orange-8: #ffc680;
$auto-orange-9: #ffdfb6;
$auto-red-0: #490202;
$auto-red-1: #67060c;
$auto-red-2: #8e1519;
$auto-red-3: #b62324;
$auto-red-4: #da3633;
$auto-red-5: #f85149;
$auto-red-6: #ff7b72;
$auto-red-7: #ffa198;
$auto-red-8: #ffc1ba;
$auto-red-9: #ffdcd7;
$auto-purple-0: #271052;
$auto-purple-1: #3c1e70;
$auto-purple-2: #553098;
$auto-purple-3: #6e40c9;
$auto-purple-4: #8957e5;
$auto-purple-5: #a371f7;
$auto-purple-6: #bc8cff;
$auto-purple-7: #d2a8ff;
$auto-purple-8: #e2c5ff;
$auto-purple-9: #eddeff;
$auto-pink-0: #42062a;
$auto-pink-1: #5e103e;
$auto-pink-2: #7d2457;
$auto-pink-3: #9e3670;
$auto-pink-4: #bf4b8a;
$auto-pink-5: #db61a2;
$auto-pink-6: #f778ba;
$auto-pink-7: #ff9bce;
$auto-pink-8: #ffbedd;
$auto-pink-9: #ffdaec;
$text-primary: #c9d1d9;
$text-secondary: #8b949e;
$text-tertiary: #8b949e;
$text-placeholder: #484f58;
$text-disabled: #484f58;
$text-inverse: #0d1117;
$text-link: #58a6ff;
$text-danger: #f85149;
$text-success: #56d364;
$text-warning: #e3b341;
$text-white: #f0f6fc;
$icon-primary: #c9d1d9;
$icon-secondary: #6e7681;
$icon-tertiary: #484f58;
$icon-info: #79c0ff;
$icon-danger: #f85149;
$icon-success: #56d364;
$icon-warning: #e3b341;
$border-primary: #30363d;
$border-secondary: #21262d;
$border-tertiary: #6e7681;
$border-overlay: #30363d;
$border-inverse: #f0f6fc;
$border-info: #388bfd66;
$border-danger: #f8514966;
$border-success: #3fb95066;
$border-warning: #bb800966;
$bg-canvas: #0d1117;
$bg-canvas-mobile: #010409;
$bg-canvas-inverse: #f0f6fc;
$bg-canvas-inset: #06090f;
$bg-primary: #0d1117;
$bg-secondary: #0d1117;
$bg-tertiary: #161b22;
$bg-overlay: #21262d;
$bg-backdrop: #010409cc;
$bg-info: #388bfd1a;
$bg-info-inverse: #388bfd;
$bg-danger: #f851491a;
$bg-danger-inverse: #da3633;
$bg-success: #2ea0431a;
$bg-success-inverse: #2ea043;
$bg-warning: #bb80091a;
$bg-warning-inverse: #bb8009;
$shadow-small: 0 0 #0000;
$shadow-medium: 0 3px 6px #010409;
$shadow-large: 0 8px 24px #010409;
$shadow-extra-large: 0 12px 48px #010409;
$shadow-highlight: 0 0 #0000;
$shadow-inset: 0 0 #0000;
$state-hover-primary-bg: #1f6feb;
$state-hover-primary-border: #388bfd;
$state-hover-primary-text: #f0f6fc;
$state-hover-primary-icon: #f0f6fc;
$state-hover-secondary-bg: #161b22;
$state-hover-secondary-border: #161b22;
$state-selected-primary-bg: #1f6feb;
$state-selected-primary-border: #388bfd;
$state-selected-primary-text: #f0f6fc;
$state-selected-primary-icon: #f0f6fc;
$state-focus-border: #388bfd;
$state-focus-shadow: 0 0 0 3px #0c2d6b;
$fade-fg-10: #f0f6fc1a;
$fade-fg-15: #f0f6fc26;
$fade-fg-30: #f0f6fc4d;
$fade-fg-50: #f0f6fc80;
$fade-fg-70: #f0f6fcb3;
$fade-fg-85: #f0f6fcd9;
$fade-black-10: #0104091a;
$fade-black-15: #01040926;
$fade-black-30: #0104094d;
$fade-black-50: #01040980;
$fade-black-70: #010409b3;
$fade-black-85: #010409d9;
$fade-white-10: #f0f6fc1a;
$fade-white-15: #f0f6fc26;
$fade-white-30: #f0f6fc4d;
$fade-white-50: #f0f6fc80;
$fade-white-70: #f0f6fcb3;
$fade-white-85: #f0f6fcd9;
$alert-info-text: #79c0ff;
$alert-info-icon: #79c0ff;
$alert-info-bg: #388bfd1a;
$alert-info-border: #388bfd66;
$alert-warn-text: #e3b341;
$alert-warn-icon: #e3b341;
$alert-warn-bg: #bb80091a;
$alert-warn-border: #bb800966;
$alert-error-text: #ff7b72;
$alert-error-icon: #ff7b72;
$alert-error-bg: #f851491a;
$alert-error-border: #f8514966;
$alert-success-text: #56d364;
$alert-success-icon: #56d364;
$alert-success-bg: #2ea0431a;
$alert-success-border: #2ea04366;
$autocomplete-shadow: 0 16px 32px #010409d9;
$autocomplete-row-border: #30363d;
$blankslate-icon: #535c66;
$btn-text: #c9d1d9;
$btn-bg: #21262d;
$btn-border: #30363d;
$btn-shadow: 0 0 #0000;
$btn-inset-shadow: 0 0 #0000;
$btn-hover-bg: #30363d;
$btn-hover-border: #8b949e;
$btn-selected-bg: #161b22;
$btn-focus-bg: #21262d;
$btn-focus-border: #8b949e;
$btn-focus-shadow: 0 0 0 3px #8b949e4d;
$btn-shadow-active: inset 0 0.15em 0.3em #01040926;
$btn-shadow-input-focus: 0 0 0 0.2em #1f6feb4d;
$btn-primary-text: #fff;
$btn-primary-bg: #238636;
$btn-primary-border: #2ea043;
$btn-primary-shadow: 0 0 #0000;
$btn-primary-inset-shadow: 0 0 #0000;
$btn-primary-hover-bg: #2ea043;
$btn-primary-hover-border: #3fb950;
$btn-primary-selected-bg: #238636;
$btn-primary-selected-shadow: 0 0 #0000;
$btn-primary-disabled-text: #f0f6fc80;
$btn-primary-disabled-bg: #23863699;
$btn-primary-disabled-border: #0000;
$btn-primary-focus-bg: #238636;
$btn-primary-focus-border: #3fb950;
$btn-primary-focus-shadow: 0 0 0 3px #2ea44f66;
$btn-primary-icon: #f0f6fc;
$btn-primary-counter-bg: #f0f6fc33;
$btn-outline-text: #58a6ff;
$btn-outline-hover-text: #58a6ff;
$btn-outline-hover-bg: #30363d;
$btn-outline-hover-border: #58a6ff;
$btn-outline-hover-shadow: 0 1px 0 #0104091a;
$btn-outline-hover-inset-shadow: inset 0 1px 0 #f0f6fc08;
$btn-outline-hover-counter-bg: #f0f6fc33;
$btn-outline-selected-text: #f0f6fc;
$btn-outline-selected-bg: #0d419d;
$btn-outline-selected-border: #f0f6fc1a;
$btn-outline-selected-shadow: 0 0 #0000;
$btn-outline-disabled-text: #58a6ff80;
$btn-outline-disabled-bg: #0d1117;
$btn-outline-disabled-counter-bg: #1f6feb0d;
$btn-outline-focus-border: #58a6ff;
$btn-outline-focus-shadow: 0 0 0 3px #1158c766;
$btn-outline-counter-bg: #1f6feb1a;
$btn-danger-text: #f85149;
$btn-danger-hover-text: #fff;
$btn-danger-hover-bg: #da3633;
$btn-danger-hover-border: #f85149;
$btn-danger-hover-shadow: 0 0 #0000;
$btn-danger-hover-inset-shadow: 0 0 #0000;
$btn-danger-hover-counter-bg: #fff3;
$btn-danger-selected-text: #fff;
$btn-danger-selected-bg: #b62324;
$btn-danger-selected-border: #f0f6fc1a;
$btn-danger-selected-shadow: 0 0 #0000;
$btn-danger-disabled-text: #f85149;
$btn-danger-disabled-bg: #0d1117;
$btn-danger-disabled-counter-bg: #da36330d;
$btn-danger-focus-border: #f85149;
$btn-danger-focus-shadow: 0 0 0 3px #b6232466;
$btn-danger-counter-bg: #da36331a;
$btn-counter-bg: #30363d;
$counter-text: #c9d1d9;
$counter-bg: #30363d;
$counter-primary-text: #c9d1d9;
$counter-primary-bg: #6e7681;
$counter-secondary-text: #8b949e;
$dropdown-shadow: 0 16px 32px #010409d9;
$label-border: #30363d;
$label-primary-text: #b1bac4;
$label-primary-border: #6e7681;
$label-secondary-text: #8b949e;
$label-secondary-border: #30363d;
$label-info-text: #388bfd;
$label-info-border: #388bfd66;
$label-success-text: #3fb950;
$label-success-border: #2ea04366;
$label-warning-text: #e3b341;
$label-warning-border: #f2d35b66;
$label-danger-text: #f85149;
$label-danger-border: #f8514966;
$label-orange-text: #db6d28;
$label-orange-border: #db6d2866;
$input-bg: #0d1117;
$input-contrast-bg: #0104094d;
$input-border: #21262d;
$input-shadow: 0 0 #0000;
$input-disabled-bg: #161b22;
$input-disabled-border: #30363d;
$input-warning-border: #d29922;
$input-error-border: #f85149;
$input-tooltip-success-text: #56d364;
$input-tooltip-success-bg: #101f1b;
$input-tooltip-success-border: #1c532b;
$input-tooltip-warning-text: #e3b341;
$input-tooltip-warning-bg: #1e1c16;
$input-tooltip-warning-border: #5d4411;
$input-tooltip-error-text: #ff7b72;
$input-tooltip-error-bg: #25171c;
$input-tooltip-error-border: #792e2e;
$avatar-bg: #f0f6fc;
$avatar-border: #f0f6fc1a;
$avatar-stack-fade: #30363d;
$avatar-stack-fade-more: #21262d;
$avatar-child-shadow: -2px -2px 0 #0d1117;
$toast-text: #79c0ff;
$toast-bg: #010409;
$toast-border: #214981;
$toast-shadow: 0 8px 24px #010409;
$toast-icon: #79c0ff;
$toast-icon-bg: #121d2e;
$toast-icon-border: #214981;
$toast-success-text: #56d364;
$toast-success-border: #1c532c;
$toast-success-icon: #56d364;
$toast-success-icon-bg: #111f1c;
$toast-success-icon-border: #1c532c;
$toast-warning-text: #e3b341;
$toast-warning-border: #5e4411;
$toast-warning-icon: #e3b341;
$toast-warning-icon-bg: #1f1c16;
$toast-warning-icon-border: #5e4411;
$toast-danger-text: #ff7b72;
$toast-danger-border: #792e2e;
$toast-danger-icon: #ff7b72;
$toast-danger-icon-bg: #25171c;
$toast-danger-icon-border: #792e2e;
$toast-loading-text: #c9d1d9;
$toast-loading-border: #30363d;
$toast-loading-icon: #f0f6fc;
$toast-loading-icon-bg: #30363d;
$toast-loading-icon-border: #30363d;
$timeline-text: #b1bac4;
$timeline-badge-bg: #0d1117;
$timeline-target-badge-border: #1f6feb;
$timeline-target-badge-shadow: #0d419d;
$select-menu-border-secondary: #30363d;
$select-menu-shadow: 0 0 18px #01040966;
$select-menu-backdrop-bg: #01040980;
$select-menu-backdrop-border: #484f58;
$select-menu-tap-highlight: #30363d80;
$select-menu-tap-focus-bg: #0c2d6b;
$box-blue-border: #0d419d;
$box-row-yellow-bg: #ebc4401a;
$box-row-blue-bg: #79c0ff1a;
$box-header-blue-bg: #0d1117;
$box-header-blue-border: #30363d;
$box-border-info: #388bfd66;
$box-bg-info: #388bfd1a;
$box-border-warning: #bb800966;
$box-bg-warning: #bb80091a;
$branch-name-text: #c9d1d9;
$branch-name-icon: #b1bac4;
$branch-name-bg: #58a6ff1a;
$branch-name-link-text: #58a6ff;
$branch-name-link-icon: #58a6ff;
$branch-name-link-bg: #58a6ff1a;
$markdown-code-bg: #f0f6fc26;
$markdown-frame-border: #3b434b;
$markdown-blockquote-border: #3b434b;
$markdown-table-border: #3b434b;
$markdown-table-tr-border: #272c32;
$menu-heading-text: #8b949e;
$menu-border-active: #f78166;
$menu-bg-active: #161b22;
$sidenav-selected-bg: #21262d;
$sidenav-border-active: #f78166;
$header-text: #f0f6fcb3;
$header-bg: #161b22;
$header-logo: #f0f6fc;
$filter-item-bar-bg: #12161c;
$hidden-text-expander-bg: #21262d;
$hidden-text-expander-bg-hover: #30363d;
$drag-and-drop-border: #25292f;
$upload-enabled-border: #3b434b;
$upload-enabled-border-focused: #4487ee;
$previewable-comment-form-border: #25292f;
$underlinenav-border: #30363d00;
$underlinenav-border-hover: #30363d;
$underlinenav-border-active: #f78166;
$underlinenav-text: #8b949e;
$underlinenav-text-hover: #c9d1d9;
$underlinenav-text-active: #c9d1d9;
$underlinenav-icon: #6e7681;
$underlinenav-icon-hover: #c9d1d9;
$underlinenav-icon-active: #c9d1d9;
$underlinenav-counter-text: #8b949e;
$verified-badge-text: #3fb950;
$verified-badge-bg: #3fb9501a;
$verified-badge-border: #3fb95066;
$social-count-bg: #21262d;
$tooltip-text: #f0f6fc;
$tooltip-bg: #21262d;
$header-search-bg: #0d1117;
$header-search-border: #21262d;
$search-keyword-hl: #bb800966;
$diffstat-neutral-bg: #30363d;
$diffstat-neutral-border: #f0f6fc1a;
$diffstat-deletion-bg: #da3633;
$diffstat-deletion-border: #f85149;
$diffstat-addition-bg: #238636;
$diffstat-addition-border: #2ea043;
$files-explorer-icon: #6e7681;
$hl-author-bg: #051d4d;
$hl-author-border: #0d419d;
$logo-subdued: #30363d;
$discussion-border: #34513b;
$discussion-bg-success: #2ea0431a;
$actions-workflow-table-sticky-bg: #0d1117f2;
$repo-language-color-border: #f0f6fc33;
$code-selection-bg: #79c0ff4d;
$blob-line-highlight-bg: #bb80091a;
$blob-line-highlight-border: #bb8009;
$diff-addition-text: #56d364;
$diff-addition-bg: #23863626;
$diff-addition-border: #196c2e;
$diff-deletion-text: #f85149;
$diff-deletion-bg: #da363326;
$diff-deletion-border: #b62324;
$diff-change-text: #e3b341;
$diff-change-bg: #341a00;
$diff-change-border: #9e6a03;
$diff-blob-num-text: #f0f6fc4d;
$diff-blob-num-hover-text: #f0f6fc99;
$diff-blob-addition-num-text: #3fb950;
$diff-blob-addition-num-hover-text: #7ee787;
$diff-blob-addition-num-bg: #2386360d;
$diff-blob-addition-line-bg: #23863626;
$diff-blob-addition-word-bg: #2386364d;
$diff-blob-deletion-num-text: #f85149;
$diff-blob-deletion-num-hover-text: #ffa198;
$diff-blob-deletion-num-bg: #da36330d;
$diff-blob-deletion-line-bg: #da363326;
$diff-blob-deletion-word-bg: #da36334d;
$diff-blob-hunk-text: #8b949e;
$diff-blob-hunk-num-bg: #58a6ff26;
$diff-blob-hunk-line-bg: #58a6ff1a;
$diff-blob-empty-block-bg: #161b22;
$diff-blob-selected-line-highlight-bg: #bb80091a;
$diff-blob-selected-line-highlight-border: #bb8009;
$diff-blob-selected-line-highlight-mix-blend-mode: normal;
$diff-blob-expander-icon: #8b949e;
$diff-blob-expander-hover-icon: #f0f6fc;
$diff-blob-expander-hover-bg: #1f6feb;
$diff-blob-comment-button-icon: #f0f6fc;
$diff-blob-comment-button-bg: #1f6feb;
$diff-blob-comment-button-gradient-bg: #367eed;
$global-nav-logo: #f0f6fc;
$global-nav-bg: #161b22;
$global-nav-text: #c9d1d9;
$global-nav-icon: #c9d1d9;
$global-nav-input-bg: #0d1117;
$global-nav-input-border: #21262d;
$global-nav-input-icon: #21262d;
$global-nav-input-placeholder: #484f58;
$calendar-graph-day-bg: #161b22;
$calendar-graph-day-border: #1b1f230f;
$calendar-graph-day-l1-bg: #01311f;
$calendar-graph-day-l2-bg: #034525;
$calendar-graph-day-l3-bg: #0f6d31;
$calendar-graph-day-l4-bg: #00c647;
$calendar-graph-day-l4-border: #1b1f230f;
$calendar-graph-day-l3-border: #1b1f230f;
$calendar-graph-day-l2-border: #1b1f230f;
$calendar-graph-day-l1-border: #1b1f230f;
$footer-invertocat-octicon: #30363d;
$footer-invertocat-octicon-hover: #6e7681;
$pr-state-draft-text: #8b949e;
$pr-state-draft-bg: #8b949e1a;
$pr-state-draft-border: #8b949e66;
$pr-state-open-text: #3fb950;
$pr-state-open-bg: #3fb9501a;
$pr-state-open-border: #3fb95066;
$pr-state-merged-text: #a371f7;
$pr-state-merged-bg: #bc8cff1a;
$pr-state-merged-border: #bc8cff66;
$pr-state-closed-text: #f85149;
$pr-state-closed-bg: #da36331a;
$pr-state-closed-border: #da363366;
$topic-tag-text: #58a6ff;
$topic-tag-bg: #388bfd1a;
$topic-tag-hover-bg: #388bfd33;
$topic-tag-active-bg: #388bfd26;
$merge-box-success-icon-bg: #2ea0431a;
$merge-box-success-icon-text: #3fb950;
$merge-box-success-icon-border: #2ea04366;
$merge-box-success-indicator-bg: #238636;
$merge-box-success-indicator-border: #2ea043;
$merge-box-merged-icon-bg: #bc8cff1a;
$merge-box-merged-icon-text: #a371f7;
$merge-box-merged-icon-border: #bc8cff66;
$merge-box-merged-box-border: #bc8cff66;
$merge-box-neutral-icon-bg: #c9d1d91a;
$merge-box-neutral-icon-text: #8b949e;
$merge-box-neutral-icon-border: #c9d1d966;
$merge-box-neutral-indicator-bg: #484f58;
$merge-box-neutral-indicator-border: #6e7681;
$merge-box-warning-icon-bg: #bb80091a;
$merge-box-warning-icon-text: #e3b341;
$merge-box-warning-icon-border: #bb800966;
$merge-box-warning-box-border: #bb800966;
$merge-box-warning-merge-highlight: #bb80091a;
$merge-box-error-icon-bg: #f851491a;
$merge-box-error-icon-text: #f85149;
$merge-box-error-icon-border: #f8514966;
$merge-box-error-indicator-bg: #da3633;
$merge-box-error-indicator-border: #f85149;
$project-card-bg: #161b22;
$project-header-bg: #0d1117;
$project-sidebar-bg: #161b22;
$project-gradient-in: #161b22;
$project-gradient-out: #161b2200;
$marketing-icon-primary: #79c0ff;
$marketing-icon-secondary: #1f6feb;
$prettylights-syntax-comment: #8b949e;
$prettylights-syntax-constant: #79c0ff;
$prettylights-syntax-entity: #d2a8ff;
$prettylights-syntax-storage-modifier-import: #c9d1d9;
$prettylights-syntax-entity-tag: #7ee787;
$prettylights-syntax-keyword: #ff7b72;
$prettylights-syntax-string: #a5d6ff;
$prettylights-syntax-variable: #ffa657;
$prettylights-syntax-brackethighlighter-unmatched: #f85149;
$prettylights-syntax-invalid-illegal-text: #f0f6fc;
$prettylights-syntax-invalid-illegal-bg: #8e1519;
$prettylights-syntax-carriage-return-text: #f0f6fc;
$prettylights-syntax-carriage-return-bg: #b62324;
$prettylights-syntax-string-regexp: #7ee787;
$prettylights-syntax-markup-list: #f2cc60;
$prettylights-syntax-markup-heading: #1f6feb;
$prettylights-syntax-markup-italic: #c9d1d9;
$prettylights-syntax-markup-bold: #c9d1d9;
$prettylights-syntax-markup-deleted-text: #ffdcd7;
$prettylights-syntax-markup-deleted-bg: #67060c;
$prettylights-syntax-markup-inserted-text: #aff5b4;
$prettylights-syntax-markup-inserted-bg: #033a16;
$prettylights-syntax-markup-changed-text: #ffdfb6;
$prettylights-syntax-markup-changed-bg: #5a1e02;
$prettylights-syntax-markup-ignored-text: #c9d1d9;
$prettylights-syntax-markup-ignored-bg: #1158c7;
$prettylights-syntax-meta-diff-range: #d2a8ff;
$prettylights-syntax-brackethighlighter-angle: #8b949e;
$prettylights-syntax-sublimelinter-gutter-mark: #484f58;
$prettylights-syntax-constant-other-reference-link: #a5d6ff;
$codemirror-text: #c9d1d9;
$codemirror-bg: #0d1117;
$codemirror-gutters-bg: #0d1117;
$codemirror-guttermarker-text: #0d1117;
$codemirror-guttermarker-subtle-text: #6e7681;
$codemirror-linenumber-text: #8b949e;
$codemirror-cursor: #f0f6fc;
$codemirror-selection-bg: #79c0ff4d;
$codemirror-activeline-bg: #161b22;
$codemirror-matchingbracket-text: #c9d1d9;
$codemirror-lines-bg: #0d1117;
$codemirror-syntax-comment: #8b949e;
$codemirror-syntax-constant: #79c0ff;
$codemirror-syntax-entity: #d2a8ff;
$codemirror-syntax-keyword: #ff7b72;
$codemirror-syntax-storage: #ff7b72;
$codemirror-syntax-string: #a5d6ff;
$codemirror-syntax-support: #79c0ff;
$codemirror-syntax-variable: #ffa657;
$ansi-black: #0d1117;
$ansi-black-bright: #161b22;
$ansi-white: #b1bac4;
$ansi-white-bright: #b1bac4;
$ansi-gray: #6e7681;
$ansi-red: #ff7b72;
$ansi-red-bright: #ffa198;
$ansi-green: #3fb950;
$ansi-green-bright: #56d364;
$ansi-yellow: #d29922;
$ansi-yellow-bright: #e3b341;
$ansi-blue: #58a6ff;
$ansi-blue-bright: #79c0ff;
$ansi-magenta: #bc8cff;
$ansi-magenta-bright: #d2a8ff;
$ansi-cyan: #76e3ea;
$ansi-cyan-bright: #b3f0ff;
