$name: gitako; // duplicated
$gitee-header-z-index: 1002;

[data-#{$name}-ready='true'] {
  &.git-project {
    #git-header-nav {
      position: static;
      padding-left: 0;
      padding-right: 0;
    }

    padding-top: 0;

    .#{$name}-side-bar {
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        margin: 0;
      }
    }
  }
}

html[data-with-gitako-spacing='true'] {
  body {
    &.git-project {
      width: auto; // shrink width
      .site-content {
        min-width: 1040px;
      }
    }
  }
}

// gitee
.git-project {
  // reset styles
  .#{$name}-side-bar {
    input[type='text'],
    input[type='password'],
    .ui-autocomplete-input,
    textarea,
    .uneditable-input {
      padding: initial;
      border: none;
    }
  }
}
