@use './light/variables.scss' as light;
@use './dark/variables.scss' as dark;
@use './darkDimmed/variables.scss' as darkDimmed;
@use './darkHighContrast/variables.scss' as darkHighContrast;
@use './darkColorblind/variables.scss' as darkColorblind;
@use './lightColorblind/variables.scss' as lightColorblind;

@mixin setVariables($variables) {
  @each $name, $value in $variables {
    --gitako-#{$name}: #{$value};
  }
}

// Following rules are organized according to common variables to reduce output CSS size
:root {
  // default, e.g. when not login
  @include setVariables(light.$variables);

  // mapping 'canvas' to 'bg', this should be removed once GitHub exposes 'bg' colors
  --gitako-bg-default-transparent: var(--gitako-canvas-default-transparent);
  --gitako-bg-default: var(--gitako-canvas-default);
  --gitako-bg-inset: var(--gitako-canvas-inset);
  --gitako-bg-overlay: var(--gitako-canvas-overlay);
  --gitako-bg-subtle: var(--gitako-canvas-subtle);
}

:root {
  &[data-color-mode='light'][data-light-theme='light'],
  &[data-color-mode='dark'][data-dark-theme='light'] {
    @include setVariables(light.$variables);
  }

  &[data-color-mode='light'][data-light-theme='dark'],
  &[data-color-mode='dark'][data-dark-theme='dark'] {
    @include setVariables(dark.$variables);
  }

  &[data-color-mode='light'][data-light-theme='dark_dimmed'],
  &[data-color-mode='dark'][data-dark-theme='dark_dimmed'] {
    @include setVariables(darkDimmed.$variables);
  }

  &[data-color-mode='light'][data-light-theme='dark_high_contrast'],
  &[data-color-mode='dark'][data-dark-theme='dark_high_contrast'] {
    @include setVariables(darkHighContrast.$variables);
  }

  &[data-color-mode='light'][data-light-theme='dark_colorblind'],
  &[data-color-mode='dark'][data-dark-theme='dark_colorblind'] {
    @include setVariables(darkColorblind.$variables);
  }

  &[data-color-mode='light'][data-light-theme='light_colorblind'],
  &[data-color-mode='dark'][data-dark-theme='light_colorblind'] {
    @include setVariables(lightColorblind.$variables);
  }
}

@media (prefers-color-scheme: light) {
  :root[data-color-mode='auto'] {
    &[data-light-theme='light'] {
      @include setVariables(light.$variables);
    }

    &[data-light-theme='dark'] {
      @include setVariables(dark.$variables);
    }

    &[data-light-theme='dark_dimmed'] {
      @include setVariables(darkDimmed.$variables);
    }

    &[data-light-theme='dark_high_contrast'] {
      @include setVariables(darkHighContrast.$variables);
    }

    &[data-light-theme='dark_colorblind'] {
      @include setVariables(darkColorblind.$variables);
    }

    &[data-light-theme='light_colorblind'] {
      @include setVariables(lightColorblind.$variables);
    }
  }
}

@media (prefers-color-scheme: dark) {
  :root[data-color-mode='auto'] {
    &[data-dark-theme='light'] {
      @include setVariables(light.$variables);
    }

    &[data-dark-theme='dark'] {
      @include setVariables(dark.$variables);
    }

    &[data-dark-theme='dark_dimmed'] {
      @include setVariables(darkDimmed.$variables);
    }

    &[data-dark-theme='dark_high_contrast'] {
      @include setVariables(darkHighContrast.$variables);
    }

    &[data-dark-theme='dark_colorblind'] {
      @include setVariables(darkColorblind.$variables);
    }

    &[data-dark-theme='light_colorblind'] {
      @include setVariables(lightColorblind.$variables);
    }
  }
}
