@mixin theme-dark {
    // ------- variables
    --gitako-text-color: #{$gray-100};
    --gitako-bg-color: #{$gray-900};
    --gitako-bg-alt-color: #{$gray-800};
    --gitako-border-color: #{$black};

    --gitako-node-bg-color: #{$gray-800};
    --gitako-node-bg-color-hover: #{$gray-700};
    
    --gitako-input-bg-color: #{$gray-700};
    --gitako-button-bg-color: #{$gray-600};

    --gitako-scrollbar-track-color: #{$gray-700};
    --gitako-scrollbar-thumb-color: #{rgba($gray-600, .7)};

    // ------- scrollbar
    ::-webkit-scrollbar {
        width: 8px;
    }
    ::-webkit-scrollbar-track {
        border-radius: 10px;
        margin: 2px 0 2px 0;
        background-color: var(--gitako-scrollbar-track-color);
    }
    ::-webkit-scrollbar-thumb {
        border-radius: 4px;
        background-color: var(--gitako-scrollbar-thumb-color);
    }

    // ------- body
    .#{$name}-side-bar-body {
        background-color: var(--gitako-bg-color);
        color: var(--gitako-text-color);
        border: none; // I found that it is better looking without this border because of the resize handler border
        
        .octicon {
            color: var(--gitako-text-color);
        }
        
        .#{$name}-side-bar-content {
            .meta-bar {
                background-color: var(--gitako-bg-alt-color);
                border-color: var(--gitako-border-color);
            }

            .file-explorer {
                .node-item {
                    background-color: var(--gitako-node-bg-color);
                    border-color: var(--gitako-border-color);
                    color: var(--gitako-text-color);

                    &:hover {
                        background-color: var(--gitako-node-bg-color-hover);
                    }
                }

                .search-input-wrapper .search-input {
                    background-color: var(--gitako-input-bg-color);
                    color: var(--gitako-text-color);
                    border-color: var(--gitako-border-color);
                    box-shadow: none; // flat inputs
                }
            }
        }
    }
    
    // ------- settings
    .#{$name}-settings-bar {
        background-color: var(--gitako-bg-color);

        .#{$name}-settings-bar-title {
            border-color: var(--gitako-border-color);
        }

        .#{$name}-settings-bar-content {
            .shadow-shelter {
                background-color: var(--gitako-bg-color);
            }
            
            .settings-section {
                .TextInput-wrapper,
                select,
                button {
                    background-color: var(--gitako-input-bg-color);
                    color: var(--gitako-text-color);
                    border-color: var(--gitako-border-color);
                    box-shadow: none; // flat inputs
                }

                button {
                    background-image: linear-gradient(-180deg, var(--gitako-button-bg-color) 0%, var(--gitako-input-bg-color) 90%);
                }
            }
        }
        
        .header-row {
            background-color: var(--gitako-bg-alt-color);
            border-color: var(--gitako-border-color);
        }
    }

    // ------- resize
    .#{$name}-resize-handler {
        border-color: var(--gitako-border-color);
        background-color: var(--gitako-bg-alt-color);
        color: var(--gitako-text-color);
    }
}