@import '~nprogress/nprogress.css';

@import '~@primer/css/support/variables/colors.scss';
@import '~@primer/css/support/variables/color-system.scss';
@import '~@primer/css/support/variables/typography.scss';
@import '~@primer/css/support/variables/misc.scss';
@import '~@primer/css/support/variables/layout.scss';

$name: gitako;

$min-screen-width: 1280px;
$github-content-width: 1020px;
$side-bar-base-width: $min-screen-width - $github-content-width;
$min-width-with-gitako: $min-screen-width + $side-bar-base-width;

$github-header-z-index: 32;
$github-pull-request-float-header-z-index: 110;
$minimal-z-index: max($github-header-z-index, $github-pull-request-float-header-z-index) + 1;

:root {
  --gitako-width: #{$side-bar-base-width};
}

.#{$name}-ready {
  // github
  .js-header-wrapper {
    background: $gray-dark;
  }
  .Header {
    max-width: 1280px;
    margin: 0 auto;
    @media (min-width: 1280px) {
      padding: 0 32px !important;
    }
  }
  .pagehead.repohead {
    box-shadow: inset 0 -1px 0 #e1e4e8;

    & > * {
      max-width: 1280px;
      margin: auto;

      &.UnderlineNav {
        position: relative;
        overflow: visible !important;
      }
    }
  }

  // gitee
  &.git-project {
    #git-header-nav {
      position: static;
      padding-left: 0;
      padding-right: 0;
    }

    padding-top: 0;
  }
}

.with-gitako-spacing {
  margin-left: var(--gitako-width);

  // gitee
  &.git-project {
    width: auto; // shrink width
    .site-content {
      min-width: 1040px;
    }
  }
}

@media (min-width: $github-content-width) {
  // github
  body.env-production {
    min-width: $github-content-width;
  }
}

.markdown-body {
  .clippy-wrapper {
    position: relative;
    width: 0;
    height: 0;
    top: 8px;
    left: calc(100% - 40px);
    z-index: 1;

    .clippy {
      width: 32px;
      height: 32px;
      border: 1px solid $border-gray-dark;
      border-radius: 4px;
      background: $bg-gray-light;
      &:hover {
        background: $bg-white;
      }
      &:active {
        background: $bg-gray-light;
      }
      .icon {
        width: 100%;
        height: 100%;
        display: block;
        background-image: url('~@primer/octicons-react/build/svg/clippy-16.svg?inline');
        background-position: center;
        background-repeat: no-repeat;
        &.success {
          background-image: url('~@primer/octicons-react/build/svg/check-16.svg?inline');
        }
        &.fail {
          background-image: url('~@primer/octicons-react/build/svg/x-16.svg?inline');
        }
      }
    }
  }
}

.progress-pjax-loader.is-loading {
  left: 0; /* reposition progress bar of GitHub */
}

%hidden {
  display: none;
}

.invisible {
  visibility: hidden;
}

.#{$name}-toggle-show-button-wrapper {
  $animation-duration: 0.5s;
  position: fixed;
  top: 5px;
  left: 0;
  z-index: $minimal-z-index;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 4px;
  border: 1px solid transparent;
  will-change: transform;
  transform: translate(calc(var(--gitako-width) - 30px));

  transition: transform $animation-duration ease;
  // disable position transition when resizing sidebar
  &.resizing {
    transition: none;
  }

  &.collapsed {
    border-color: $border-gray;
    border-radius: 3px;
    background: $bg-gray;
    transform: translate(5px);

    .action-icon {
      color: $blue;
    }
  }

  .action-icon {
    color: $gray;
    width: 20px;
    height: 20px;
    text-align: center;
    transition: all $animation-duration ease;
    .octicon {
      width: 100%;
      height: 100%;
    }
  }

  &.error {
    .action-icon {
      color: $red;
    }
  }

  .error-message {
    display: none;
    margin-left: 4px;
    font-size: 12px;
  }

  &:hover {
    .error-message {
      display: inline;
    }
  }
}

.#{$name}-side-bar {
  @import '~@primer/css/base/index.scss';
  button {
    border-radius: 6px;
    font-weight: 600;
  }

  .#{$name}-position-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: $minimal-z-index;
    display: flex;

    &.hidden {
      @extend %hidden;
    }

    .gitako-position-content {
      width: var(--gitako-width);
    }
  }
  .#{$name}-resize-handler {
    display: flex;
    align-items: center;
    cursor: ew-resize;
    user-select: none;
    width: 0;
    background: $bg-gray;
    border-right: 1px solid $border-gray-dark;
    overflow: hidden;
    box-sizing: content-box;
    &:hover,
    &:active {
      width: 16px;
      background: $bg-gray-light;
      border-left: 1px solid $border-gray-dark;
    }

    .octicon.Grabber {
      margin-left: -2px;
      width: 20px;
      font-size: 0;
    }
  }
  .#{$name}-side-bar-body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: $bg-gray-light;
    border-left: 1px solid $border-gray;
    overflow: hidden;

    &.hidden {
      @extend %hidden;
    }

    .octicon {
      transition: transform 0.3s ease;
      color: rgba($blue-800, 0.55);
      width: 100%;
      height: 100%;
    }

    .octicon-color {
      color: rgba($blue-800, 0.55);
    }

    .octicon-wrapper {
      display: inline-block;
      width: 16px;
      min-width: 16px; // prevent shrink when sidebar is narrow
      text-align: center;
    }

    .#{$name}-side-bar-content {
      display: flex;
      flex: 1;
      flex-direction: column;
      max-height: calc(100vh - 34px); // temporary fix for layout issue occurred since Chrome v76
      min-height: 0; // make content shrinkable

      .meta-bar {
        position: relative; // prevent overlap by outline of other elements
        min-height: 53px; // GitHub header height if login
        flex-shrink: 0;
        padding: 5px 10px;
        padding-right: 30px; // space for toggle button
        background: $bg-blue-light;
      }

      .description {
        border-top: 1px solid $border-gray;
        padding: 4px 10px;
      }

      .loading-indicator-container {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-top: 1px solid $border-gray;

        .loading-indicator {
          display: flex;
          align-items: center;

          &-icon {
            width: 20px;
            height: 20px;
            margin-right: 4px;

            .octicon {
              width: 20px;
              height: 20px;
              animation: pulse-rotate 1.8s infinite ease;
            }
          }
        }
      }

      .file-explorer {
        width: 100%;
        height: 100%;
        outline: none;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        &.freeze {
          filter: blur(1.5px) opacity(0.6) grayscale(0.9);
          cursor: pointer;

          > * {
            pointer-events: none;
            user-select: none;
          }
        }

        /* search input */
        .search-input-wrapper {
          .search-input {
            width: 100%;
            box-shadow: none; // stay low
            border-radius: 0; // its rounded corner not match with nearby elements

            &.error {
              border-color: $red;
            }
          }
        }

        .files {
          flex: 1;
          overflow: auto;
        }

        .node-item {
          background: $bg-white;
          &:hover {
            background: $bg-gray-light;
          }
          &.focused,
          &:active {
            background: $bg-gray;
          }

          &.disabled {
            .node-item {
              pointer-events: none;
              color: $gray-light;
            }
          }
          display: flex;
          justify-content: space-between;
          margin: 0;
          color: $blue;
          line-height: 18px;
          padding: 8px 10px;
          cursor: pointer;
          border-bottom: 1px solid $border-gray-light;
          white-space: nowrap;
          transition: padding 0.3s ease; // on toggle expansion in search results

          @mixin icon-size() {
            width: 16px;
            height: 16px;
          }

          .octicon-wrapper:first-child {
            margin-right: 6px;
          }

          &-type-icon {
            margin-right: 4px;
            width: 16px;
            // not specify height here, it'll break vertical alignment

            & + .octicon-wrapper,
            & + .node-item-icon {
              margin-right: 6px;
            }
          }

          &-icon {
            @include icon-size();
            object-fit: contain;
            vertical-align: text-bottom;
            box-sizing: content-box;

            &.dim {
              filter: sepia(1) hue-rotate(180deg);
            }
          }

          // folder icon rotate when expand
          &.expanded .octicon.ChevronRight {
            transform: rotate(90deg);
          }

          .node-item-label {
            overflow: hidden;
            text-overflow: ellipsis;
            align-items: center;
          }

          .go-to-button {
            white-space: nowrap;
            background: transparent;
            border: none;
            padding: 0;
          }
          &:not(:hover) {
            .go-to-button {
              display: none;
            }
          }
        }
      }
    }

    .#{$name}-settings-bar {
      z-index: 2;
      background: $bg-gray-light;
      display: flex;
      flex-direction: column;
      max-height: calc(100vh - 120px);
      &-title {
        border-top: 1px solid $border-gray-light;
        padding: 10px;
        box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 4px 0 rgba(0, 0, 0, 0.14),
          0 3px 3px -2px rgba(0, 0, 0, 0.12);
        z-index: 1;
      }
      &-content {
        padding: 10px 10px;
        flex: 1;
        overflow: auto;
        position: relative;

        .shadow-shelter {
          position: absolute;
          width: 100%;
          height: 10px;
          top: 0;
          left: 0;
          background: $bg-gray-light;
          z-index: 1;
        }
        .settings-section {
          &:not(:last-of-type) {
            margin-bottom: 30px;
          }

          .field {
            margin-bottom: 4px;

            label {
              display: inline-block;
              margin-bottom: 2px;
              font-weight: 600;
            }
            input {
              &:disabled {
                cursor: not-allowed;
              }
            }
            select {
              width: 100%;
              -moz-appearance: menulist-button;
              // make it look like text inputs
              height: 36px;
              background: $bg-white;
              border: 1px solid $border-color;
              border-radius: 6px;
              box-shadow: inset 0px 2px 0px rgba(225, 228, 232, 0.2);
            }
            &.field-checkbox {
              padding-left: 20px;
              vertical-align: middle;
              label {
                margin-bottom: 0;
              }

              input[type='checkbox'],
              input[type='radio'] {
                float: left;
                margin: 5px 0 0 -20px;
                vertical-align: middle;
              }
            }
          }
        }
      }
      .link-button {
        cursor: pointer;
        display: inline-block;
        margin-bottom: 4px;
      }
      .hint {
        color: $gray;
      }
      .access-token-input-control {
        display: flex;
        .access-token-input {
          flex: 1;
        }
      }
      .toggle-shortcut-input-control {
        display: flex;
        .toggle-shortcut-input {
          flex: 1;
        }
      }
      .header-row {
        flex-shrink: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 6px 10px;
        border-top: 1px solid $border-gray-light;

        .show-settings-icon {
          width: 20px;
          height: 20px;
          cursor: pointer;
        }
        .hide-settings-icon {
          width: 20px;
          height: 20px;
          cursor: pointer;
        }
      }
    }
  }
}

// gitee
.git-project {
  // reset styles
  .#{$name}-side-bar {
    input[type='text'],
    input[type='password'],
    .ui-autocomplete-input,
    textarea,
    .uneditable-input {
      padding: initial;
      border: none;
    }
  }
}

@keyframes rotate {
  from {
    transform: rotateZ(0);
  }
  to {
    transform: rotateZ(360deg);
  }
}

@keyframes pulse-rotate {
  0% {
    transform: rotateZ(0);
  }
  20% {
    transform: rotateZ(190deg);
  }
  30% {
    transform: rotateZ(175deg);
  }
  50% {
    transform: rotateZ(180deg);
  }
  70% {
    transform: rotateZ(370deg);
  }
  80% {
    transform: rotateZ(355deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
